/** Define Theme Constants here */
#Constants {
    includeNativeBool: true;
    defaultSourceDPIInt: "0";
    --primary-color: #8C39DF;
    --success-color: #15CD48;
    --fail-color: #EB1622;
}

/** IMPORT IMAGES TO PROJECT */
Images {
    background-image: url(images/welcomeScreenImage.png),
                      url(images/placeholder.png);
}


/** WELCOME SCREEN STYLES */
WelcomeScreen {
    cn1-derive: Form;
    background-color: var(--primary-color);
}

PageWrapper {
    cn1-derive: Container;
    padding: 5mm;
}

WelcomeImageContainer {
    cn1-derive: Label;
    margin-top: 6mm;
    margin-bottom: 6mm;
    text-align: center;
}

StartButton, HowToPlayButton, ShareAppButton {
    cn1-derive: Button;
    color: var(--primary-color);
    background-color: white;
    margin-bottom: 4mm;
    padding: 3mm;
    text-align: left;
    font-size: 4mm;
    font-weight: bold;
    border-color: white;
    border-radius: 50mm;
    box-shadow: 1mm 1mm 1mm 0 rgba(0,0,0,0.1);
}


/** HOW TO PLAY SCREEN STYLES */
HowToPlayScreen {
    cn1-derive: Form;
    background-color: #FFFFFF;
}

CustomToolbar {
    cn1-derive: Container;
    padding: 3mm;
}

@media platform-and {
    CustomToolbar {
        cn1-derive: Container;
        padding: 3mm;
    }
}

@media platform-ios {
     CustomToolbar {
         cn1-derive: Container;
         padding: 4mm;
         margin-top: 3mm;
     }
}

BackIcon {
    cn1-derive: Button;
    color: #080010;
    padding: 0;
}

HowToPlayScreenToolbarTitle {
    background-color: white;
    color: var(--primary-color);
    font-size: 4mm;
    font-weight: bold;
    margin-left: 4mm;
}

Instruction {
    cn1-derive: SpanLabel;
    font-size: 4mm;
    color: #080010;
    padding: 4mm;
}


/** QUESTION SCREEN STYLES */
QuestionScreen {
    cn1-derive: Form;
    background-color: #FCF7F7;
}

TopContainer {
    cn1-derive: Container;
    padding: 3mm;
}

@media platform-and {
    TopContainer {
        cn1-derive: Container;
        padding: 4mm;
        margin-top: 2mm;
    }
}

@media platform-ios {
    TopContainer {
        cn1-derive: Container;
        padding: 4mm;
        margin-top: 5mm;
    }
}

QuestionProgress {
    cn1-derive: Label;
    color: #EE8100;
    font-weight: normal;
    font-size: 3mm;
    text-align: left;
}

ScoreLabel {
    cn1-derive: Label;
    color: #151515;
    font-weight: normal;
    font-size: 3mm;
    text-align: right;
}

QuestionImageContainer {
    cn1-derive: Label;
    text-align: center;
    margin-top: 2mm;
    margin-bottom: 4mm;
}

OptionContainer {
    cn1-derive: Container;
    padding-left: 4mm;
    padding-right: 4mm;
}


Option1, Option2, Option3 {
    cn1-derive: RadioButton;
    padding: 4mm;
    font-weight: bold;
    font-size: 4mm;
    margin-bottom: 4mm;
    border-color: white;
    border-radius: 25mm;
    box-shadow: 1mm 1mm 1mm 0 rgba(0,0,0,0.1);
}

Option1.disabled, Option2.disabled, Option3.disabled {
    cn1-derive: RadioButton;
    padding: 4mm;
    background-color: white;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 4mm;
    margin-bottom: 4mm;
    border-color: white;
    border-radius: 25mm;
    box-shadow: 1mm 1mm 1mm 0 rgba(0,0,0,0.1);
}

Option1.unselected, Option2.unselected, Option3.unselected {
    cn1-derive: RadioButton;
    background-color: white;
    color: var(--primary-color);
}

Option1.pressed, Option2.pressed, Option3.pressed {
    cn1-derive: RadioButton;
    padding: 4mm;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 4mm;
    border-radius: 25mm;
    box-shadow: 1mm 1mm 1mm 0 rgba(0,0,0,0.1);
}

Option1.selected, Option2.selected, Option3.selected {
    cn1-derive: RadioButton;
    padding: 4mm;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 4mm;
    border-radius: 25mm;
    box-shadow: 1mm 1mm 1mm 0 rgba(0,0,0,0.1);
}

Option3 {
    margin-bottom: 0;
}

CorrectAnswer {
    cn1-derive: RadioButton;
    padding: 4mm;
    background-color: var(--success-color);
    color: white;
    font-weight: bold;
    font-size: 4mm;
    margin-bottom: 4mm;
    border-color: white;
    border-radius: 25mm;
    box-shadow: 1mm 1mm 1mm 0 rgba(0,0,0,0.1);
}

WrongAnswer {
    cn1-derive: RadioButton;
    padding: 4mm;
    background-color: var(--fail-color);
    color: white;
    font-weight: bold;
    font-size: 4mm;
    margin-bottom: 4mm;
    border-color: white;
    border-radius: 25mm;
    box-shadow: 1mm 1mm 1mm 0 rgba(0,0,0,0.1);
}


BottomContainer {
    cn1-derive: Container;
    padding-left: 5mm;
    padding-right: 5mm;
    margin-top: 4mm;
}

QuitButton, NextButton {
    cn1-derive: Button;
    padding: 2mm 4mm 3mm 3mm;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 1mm 1mm 1mm 0 rgba(0,0,0,0.1);
}

DialogContentPane {
    cn1-derive: Container;
    padding: 2mm;
    background-color: white;
}

DialogBody {
    cn1-derive: SpanLabel;
    font-size: 8mm;
    font-weight: normal;
    color: #151515;
}

OkButton {
    cn1-derive: Button;
    text-align: center;
    font-size: 3mm;
    color: var(--primary-color);
}

ShowScore {
    cn1-derive: Label;
    font-weight: bold;
    font-size: 3mm;
}