/** Define Theme Constants here */
#Constants {
    includeNativeBool: true;
    defaultSourceDPIInt: "0";
    --primary-color: #8C39DF;
    --success-color: #15CD48;
    --fail-color: #EB1622;
}

Images {
    background-image: url(images/welcomeScreenImage.png);
}

WelcomeScreen {
    cn1-derive: Form;
    background-color: var(--primary-color);
    padding: 5mm;
}

WelcomeImageContainer {
    cn1-derive: Label;
    margin-top: 10mm;
    margin-bottom: 6mm;
}

StartButton, HowToPlayButton, ShareAppButton {
    cn1-derive: Button;
    color: var(--primary-color);
    background-color: white;
    margin-bottom: 4mm;
    padding: 3mm;
    text-align: left;
    font-size: 4mm;
    font-weight: bold;
    border: 1px white cn1-pill-border;
}

HowToPlayScreen {
    padding: 5mm;
}

HowToPlayScreenToolbarTitle {
    color: var(--primary-color);
    font-size: 3mm;
    font-weight: bold;
}

Instruction {
    font-size: 4mm;
    color: #080010;
}